<%= render 'shared/content_title', title: "#{@user.username}'s account " %>

<div class="well">
	<dl class="dl-horizontal">
		<dt>Username:</dt>
		<dd><%= @user.username %></dd>
		<dt>Account Created At:</dt>
		<dd><%= fix_date(@user.created_at) %></dd>
		<dt>Number of Posts:</dt>
		<dd><%= @post.count %></dd>
		<dt>Number of Comments:</dt>
		<dd><%= @comments.count %></dd>
	</dl>
</div>

<%= render 'shared/content_title', title: "#{@user.username}'s activity" %>

<ul class="nav nav-tabs">
	<li class='<%= 'active' if params[:tab].nil? || params[:tab] == 'posts' %>'>
		<%= link_to "Posts (#{@post.count})", user_path(@user, tab: 'posts')%>
	</li>
	<li class='<%='active' if params[:tab] == 'comments' %>'>
		<%= link_to "Comments (#{@comments.count})", user_path(@user, tab: 'comments')%>
	</li>
</ul>

<% if params[:tab].nil? || params[:tab] == 'posts' %>
	<% @post.each do |post| %>
		<%= render 'posts/post', post: post %>
	<%end%>
<% elsif params[:tab] == 'comments' %>
	<% @comments.each do |comment| %>
		<%= render 'comments/comments', comment: comment, show_post: true %>
	<% end %>
<% end %>




