	<div class="row">
		<div class="span8 ">
			<p ><%= link_to post.title, fix_url(post.url) %> 
				<%= render post.categories %>
				<%= link_to 'Edit', edit_post_path(post), class: "pull-right" %>
			<p> <%= post.description %>
			<p>
				<span class="quiet">posted by </span><%=post.user.username %>
				<small><%= fix_date(post.created_at) %></small>
			</p>
			<small>
				<%= link_to("#{post.comments.size} comments", post_path(post)) %>
			</small>
			<hr/>
		</div>
	</div>