<p class="lead">
	All Posts
	<hr/>
</p>

<% @posts.each do |post| %>
	<div class="row">
		<div class="span8 ">
			<p ><%= link_to post.title, post.url %> 
				<%= render post.categories %>
			<p> <%= post.description %></p>
			<p>
				<span class="quiet">posted by </span><%=post.user.username %>
				<small><%= post.created_at %></small>
			</p>
			<small>
				<%= link_to("#{post.comments.size} comments", post_path(post)) %>
			</small>
			<hr/>
		</div>
	</div>
<%end%>