<p class="pull-right">
<%=link_to 'edit this post', edit_post_path(@post)%>
</p>
<%= render 'shared/content_title', title: @post.title %>
<p><%= @post.title%></p>
<p><%= @post.description %></p>
<p><%= link_to @post.url, ''%></p>

<% if logged_in? %>
 <%= form_for [@post, @comments] do |f| %>
  <%= render 'shared/error', obj: @comments %>
 	<br/>
 	<div class="control-group">
 	<%= f.label :body, "Leave a Comment" %>
 	<%= f.text_area :body, row: 3, class: 'span4' %>
 	<br/>
 	</div>
 	<%= f.submit class: "btn btn-primary" %>
 <% end %>
<% end %>
 <%= render 'shared/content_title', title: "Comments:" %>

 <% @post.comments.each do |comment| %>
 	<div class="well">
 		<em><%= comment.body %> </em>
 		<br/>
 		<span class="quiet">by </span><%=comment.user.username %>
		<small><%= fix_date(comment.created_at) %></small>
 	</div>
 <% end %>
