<%= render 'shared/content_title', title: "Create a New Category" %>

<div class="well row">
	<div class="form span4">
		<%= form_for @categories do |f| %>
			<%= f.label :name, "Category Name" %>
			<%= f.text_field :name %>
			<br/>
			<%= f.submit class: "btn btn-success" %>
		<%end %>
	</div>
		<%= render 'shared/error', obj: @categories %>
</div>